<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuentas-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container h5{
       font-family: Tahoma;
       color: black;
     }
     .container .table .thead-dark th{
       background:  #0672ca !important
     }
     .container .table-bordered th{
       background: white
     }
     .container .table-bordered td{
       background: white
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar2}}" class="container">
         <h5 class="col-md-5">Titular: {{first_name}} {{last_name}}</h5>
         <h5 class="col-md-5">Email: {{email}}</h5>
        <!-- <button class="btn btn-link">
           <a href="http://localhost:3001/colapi/v3/users/{{id}}/account">Ver mis cuentas</a>
         </button>-->
        <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">NUMERO DE CUENTA</th>
            <th scope="col">Saldo contable</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <template is="dom-repeat" id="accountUser" items="{{account}}">
            <tr>
                <th scope="row">{{item.iban}}</th>
                <td>{{item.balance}}</td>
                <td><button value={{item.accountID}}_{{item.iban}} class="btn btn-primary" on-click="panelmovimientos">Ver Movimientos</button></td>
          </tr>
        </template>
       </table>
   </div>
   <iron-ajax

     id="getUser"
     url="http://localhost:3000/api-peru/v1/usersMLAB/{{idr}}"
     handle-as="json"
     on-response="showData"></iron-ajax>
    <iron-ajax

       id="getUserAccount"
       url="http://localhost:3000/api-peru/v1/usersMLAB/{{idr}}/accounts"
       handle-as="json"
       on-response="showaccount"></iron-ajax>
 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class CuentasUsuario extends Polymer.Element {
     static get is() { return 'cuentas-usuario'; }
     static get properties() {
       return {
         idcue:{
           type:String
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         account: {
           type: Array
         },
         idr:{
           type:String
         },
         isvar2:{
           type:Boolean,
           value:true
         },isvar5:{
           type:Boolean
         }
       };
     }
     showData(data){
        //console.log(data);
        console.log("Recibidos datos del usuarios cuentas:");
  // mLab nos devuelve un array con el objeto solicitado por eso [0]
      //  console.log(data.detail.response.id);
        console.log(data.detail.response);

        this.idr = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
      showaccount(data){
         //console.log(data);
         console.log("Recibidos datos del usuarios en cuentas:");
   // mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log(data.detail.response);
         this.idcue = data.detail.response.id;
         this.account = data.detail.response;
       }
       panelmovimientos(e){
         console.log("pulsa boton movimientos: ");
         this.isvar5=false;
         this.isvar2=true;
         this.isvar30=true;
         this.isvar32=true;
         this.isvar1=true;
         this.isvar3=true;
         this.isvar4=true;
         this.isvar6=true;
         this.isvar7=true;
         this.dispatchEvent(new CustomEvent('panelmovimientos', {detail:{email:this.email,idr:this.idr,idcue_ban:e.srcElement.value,isvar5:this.isvar5,isvar1:this.isvar1,isvar3:this.isvar3,isvar4:this.isvar4,isvar6:this.isvar6,isvar30:this.isvar30,isvar7:this.isvar7,isvar32:this.isvar32}}))
         console.log(this.email);
         console.log(this.idcue);
         console.log(this.isvar5);

       }
       mostrarDatosRecibidoscuentas(data){
        this.idr=data.idusu;
        this.isvar2=data.isvar2;
        if(!this.isvar2){
          this.$.getUser.generateRequest();
          this.$.getUserAccount.generateRequest();
        }
       }
   }
   window.customElements.define(CuentasUsuario.is, CuentasUsuario);
 </script>
</dom-module>
