<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<!--script type="module">   import '@polymer/iron-ajax/iron-ajax.js';    </script-->
<!--import {PolymerElement, html} from '@polymer/polymer'/>
<import '@polymer/iron-ajax/iron-ajax.js'/-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">



<!-- visor-persona.html -->
<!-- links -->
<dom-module id="visor-persona">
  <template>
    <!-- style  -->
    <h2>Mi id es [[userid]]</h2>
    <h3>y me llamo [[name]]</h3>

<!-- http://localhost:3000/api-peru/v1/usersMLAB -->
  <iron-ajax auto
    id="getPerson"
    url="http://127.0.0.1:3000/api-peru/v1/usersMLAB/{{userid}}"
    handle-as="json"
    headers='{"Accept": "*/*"}'
    on-response="showData"
    content-type="application/json"
  >

  <!--iron-ajax
          auto
          url="https://www.googleapis.com/youtube/v3/search"
          params='{"part":"snippet", "q":"polymer", "key": "YOUTUBE_API_KEY", "type": "video"}'
          handle-as="json"
          on-response="handleResponse"
          debounce-duration="300">
      </iron-ajax-->
  </template>
  <script>

class VisorPersona extends Polymer.Element {
  static get is() { return 'visor-persona'; }
  static get properties() {
    return {
      name: {
        type: String
      }, userid: {
        type: Number
      }
    };

  }
  // After the properties, but inside the class.
    showData(data) {
      console.log("showData");
      console.log(data);
      //this.id = data.detail.response.value[0].ID;
      //this.name = data.detail.response.value[0].Name;
    }




}


window.customElements.define(VisorPersona.is, VisorPersona);
</script>
</dom-module>
