<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/demo-component-app/demo-component-app.html">

<dom-module id="visor-curso">
  <template>
    <style>
      :host {
        display: block;
        background-color: #7498E9
      }

    </style>
    <h2>This is a [[prop1]] course</h2>
    <h2>and it's called [[curso]]</h2>
    <h3>The course is [[duracion]] hours long</h3>
    <input type="text" value="{{curso::input}}"></input>
    <input type="range" min="18" max="100" value ="{{duracion::input}}"></input>
    <demo-component-app prop1="otro componenet"></demo-component-app>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCurso extends Polymer.Element {
      static get is() { return 'visor-curso'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Jimy demo'
          },
          courseSubject: {
            type: String,
            value: "cursillo"
          },
          curso: {
            type: String
          },
          duracion: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(VisorCurso.is, VisorCurso);
  </script>
</dom-module>
