<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="agregar-movimiento">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container .btn-outline-success{
       background: white;
       color: black;
       border-color:#0b8585
     }
     .container .btn-outline-success:hover {
      background-color: #0b8585
     }
     .btn-primary{
       background: #0b8585!important;
     }
     .container h4{color: black}
     .container h2{color: black}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar30}}" class="container">
       <h4>Agregar Movimiento</h4>
       <input type="double" class="form-control" id="import"  placeholder="Ingrese importe" value="{{import::input}}"></br>
       <input type="date" class="form-control" id="date"  placeholder="Ingrese fecha" value="{{date::input}}"></br>
       <input type="text" class="form-control" id="descripcion" placeholder="Ingrese descripcion" value="{{descripcion::input}}"></br>
       <!--input type="text" class="form-control" id="Type" placeholder="Ingrese tipo" value="{{Type::input}}"></br-->
       <button  class="btn btn-primary" on-click="agregarMov">agregar</button><br></br>
       <div hidden$="{{isvar31}}"class="alert alert-success">
        <strong>Movimiento agregado!</strong>
      </div>
     </div>

     <iron-ajax
       id="doagregarMov"
       url="http://localhost:3000/api-peru/v1/usersMLAB/account/{{idcue}}/movement"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError">

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class AgregarMovimiento extends Polymer.Element {
     static get is() { return 'agregar-movimiento'; }
     static get properties() {
       return {
         isvar30:{
           type: Boolean,
           value: true
         },idcue: {
           type: String
         }, import: {
           type: String
         },
         date: {
           type: String
         },
         descripcion: {
           type: String
         },
         Type: {
           type: String
         },
         isvar31:{
          type:Boolean,
          value: true
         }
       };
     }
     agregarMov(e) {
       console.log("Ha pulsado el botón agregar movement");
       var agregarData = {
         "import" : parseFloat(this.import),
         "date" : this.date,
         "descripcion" : this.descripcion,
         "Type" : "MANUAL"
       };
       this.$.doagregarMov.body = JSON.stringify(agregarData);
       this.$.doagregarMov.generateRequest();
     }
     mostrarDatosRecibidoAgregarMov(data){
        console.log("Receptor home:"+JSON.stringify(data));
        console.log("isvar30"+this.isvar30);
       this.isvar30=data.isvar30;
       this.isvar31=data.isvar31;
       this.idcue=data.idcue;
     }
     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor para agregar movimientos");
       console.log(data.detail.response);

       this.import = "";
       this.date ="";
       this.descripcion="";
       this.Type = "";
       this.isvar31=false;
     }
     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }
   }
   window.customElements.define(AgregarMovimiento.is, AgregarMovimiento);
 </script>
</dom-module>
