<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="modificar-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container .btn-outline-success{
       background: white;
       color: black;
       border-color:#0b8585
     }
     .container .btn-outline-success:hover {
      background-color: #0b8585
     }
     .btn-primary{
       background: #0b8585!important;
     }
    .container h3{color: black}
    .container hr{background: white}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar4}}" class="container">
       <h3>Modificar Usuario</h3>
       <input type="id" class="form-control" id="idusuario"  placeholder="User to modify" value="{{idmod::input}}"><hr/></br>
       <input type="first_name" class="form-control" id="first_name"  placeholder="Ingrese nombre" value="{{first_name::input}}"></br>
       <input type="last_name" class="form-control" id="last_name"  placeholder="Ingrese apellidos" value="{{last_name::input}}"></br>
       <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Ingrese email" value="{{email::input}}"></br>
       <input type="city" class="form-control" id="ciudad"  placeholder="Ingrese ciudad" value="{{ciudad::input}}"></br>
       <input type="password" class="form-control" id="password" placeholder="Ingrese password" value="{{password::input}}"></br>
       <button  class="btn btn-primary" on-click="modificar">modificar</button>
       <br></br>
       <div hidden$="{{isvar10}}"class="alert alert-success">
         <strong>Usuario Modificado!</strong>
       </div>
     </div>

     <iron-ajax

       id="getUserMod"
       url="http://localhost:3000/api-peru/v1/usersMLAB/{{idmod}}"
       handle-as="json"
       on-response="showDataUserMod"></iron-ajax>

     <iron-ajax
       id="domodificar"
       url="http://localhost:3000/api-peru/v1/usersMLAB/{{idmod}}"
       content-type="application/json"
       method="PUT"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError">

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class ModificarUsuario extends Polymer.Element {
     static get is() { return 'modificar-usuario'; }
     static get properties() {
       return {
         isvar4:{
           type: Boolean,
           value: true
         },email: {
           type: String
         }, password: {
           type: String
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         ciudad: {
           type: String
         },
         idmod:{
           type: String
         },
         isvar10:{
           type: Boolean,
           value: true
         }
       };
     }
     modificar(e) {
       console.log("El usuario ha pulsado el botón modificar");
       var modificarData = {
         "first_name" : this.first_name,
         "last_name" : this.last_name,
         "email" : this.email,
         "password" : this.password,
         "ciudad" : this.ciudad
       };
       this.$.domodificar.body = JSON.stringify(modificarData);
       this.$.domodificar.generateRequest();
     }
     mostrarDatosRecibidosModificar(data){
       console.log("Receptor modificar:"+JSON.stringify(data));
       this.idmod=data.idusu;
       this.isvar4=data.isvar4;
       this.isvar10=data.isvar10;
       this.$.getUserMod.generateRequest();

      }
     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor para modificar usuario");
       console.log(data.detail.response);

       this.first_name = data.detail.response.first_name;
       this.last_name =data.detail.response.last_name;
       this.email = data.detail.response.email;
       this.password = data.detail.response.password;
       this.ciudad = data.detail.response.ciudad;
       this.isvar10=false;
     }
     showDataUserMod(data){

       this.first_name = data.detail.response.first_name;
       this.last_name =data.detail.response.last_name;
       this.email = data.detail.response.email;
       this.password = data.detail.response.password;
       this.ciudad = data.detail.response.ciudad;
    }
     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }
   }
   window.customElements.define(ModificarUsuario.is, ModificarUsuario);
 </script>
</dom-module>
