<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="realizar-transferencia">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container .btn-outline-success{
       background: white;
       color: black;
       border-color:#0b8585
     }
     .container .btn-outline-success:hover {
      background-color: #0b8585
     }
     .btn-primary{
       background: #0b8585!important;
     }
     .container h4{color: black}
     .container h2{color: black}
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar32}}" class="container">
       <h4>Transferir</h4>


       <select id="typeSelect" class="form-control" value="{{idcue::change}}">

        <template is="dom-repeat" items="{{account}}" as="type" >
          <!--option selected$="{{selected(type,"yourtypetocompare")}}">{{type}}</option-->
          <option value="{{type.accountID}}" id="{{type.accountID}}">Cta. {{type.iban}} {{type.balance}}</option>
        </template>
        <option value="" selected>Elegir una cuenta origen</option>
      </select></br>
       <input type="double" class="form-control" id="import"  placeholder="Ingrese importe" value="{{import::input}}"></br>
       <input type="text" class="form-control" id="iban"  placeholder="Ingrese nro de cuenta destino" value="{{iban::input}}"></br>
       <!--input type="date" class="form-control" id="date" placeholder="Ingrese fecha" value="{{fecha::input}}"></br-->
       <input type="text" class="form-control" id="descripcion" placeholder="Ingrese descripcion" value="{{descripcion::input}}"></br>
       <!--input type="text" class="form-control" id="Type" placeholder="Ingrese tipo" value="{{Type::input}}"></br-->
       <select id="typeSelect" class="form-control" readonly=true value="{{Type::change}}">
         <option value"MANUAL">MANUAL</option>
         <option value"AUTOMATICO" selected>AUTOMATICO</option>
       </select><br><br>
       <button  class="btn btn-primary" on-click="realizarTransf">Transferir</button><br></br>


       <div hidden$="{{isvar33}}"class="alert alert-success">
        <strong>Transferencia exitosa!</strong>
      </div>
     </div>

     <iron-ajax
       id="doagregarTransf"
       url="http://localhost:3000/api-peru/v1/usersMLAB/transfer"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="manageAJAXResponse"
       on-error="showError">

       <iron-ajax

          id="getUserAccount"
          url="http://localhost:3000/api-peru/v1/usersMLAB/{{idusu}}/accounts"
          handle-as="json"
          on-response="showaccount"></iron-ajax>
    </template>

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class RealizarTransferencia extends Polymer.Element {
     static get is() { return 'realizar-transferencia'; }
     static get properties() {
       return {
         isvar32:{
           type: Boolean,
           value: true
         },idcue: {
           type: String
         }, import: {
           type: String
         },
         fecha: {
           type: String
         },
         descripcion: {
           type: String
         },
         Type: {
           type: String,
           value: "AUTOMATICO"
         },
         isvar33:{
          type:Boolean,
          value: true
        },
        account: {
          type: Array
        },
        idusu: {
          type: String
        },
        iban: {
          type: String
        }
       };
     }
     realizarTransf(e) {
       console.log("Ha pulsado el botón agregar movement");
       //var f = new Date();
       var d = new Date();
      // var thisMonth = new Date(myDate.getFullYear(), myDate.getMonth(), 1);

       //console.log("Formatted date start: " + formatDate(thisMonth));

       var agregarData = {
          "import": parseFloat(this.import),
          "sender": 	{
        	  "account":
        		  { "id":  Number.parseInt(this.idcue) }
        	  },
           "receiver": {
        		"account": {
        			"id": "",
                "iban" : this.iban.trim()
        		}
        	},
        	"date": d.getFullYear()+"-"+("00" + (d.getMonth()+1)).slice(-2)+"-"+("00" + (d.getDate())).slice(-2),
        	"description": this.descripcion,
            "Type": this.Type
        };

      /*  function padLeft(n){
          return ("00" + n).slice(-2);
        }

        function formatDate(){
          var d = new Date,
              dformat = [ d.getFullYear(),
                          padLeft(d.getMonth()+1),
                          padLeft(d.getDate())
                          ].join(' ');
           return dformat;
        }*/
        //0011-0814-0200541870
       this.$.doagregarTransf.body = JSON.stringify(agregarData);
       this.$.doagregarTransf.generateRequest();
     }
     mostrarDatosRecibidoRealizarTransf(data){
        console.log("Receptor home:"+JSON.stringify(data));
        console.log("isvar30"+this.isvar30);
       this.isvar32=data.isvar32;
       this.isvar33=data.isvar33;
       this.idusu=data.idusu;
       if(!this.isvar32){
         this.$.getUserAccount.generateRequest();
       }
     }
     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor para agregar movimientos");
       console.log(data.detail.response);

       this.import = "";
       //this.date =data.detail.response.date;
       this.descripcion="";
       this.iban="";
       //this.Type = data.detail.response.Type;
       this.isvar33=false;
     }
     showaccount(data){
       this.account = data.detail.response;
     }
     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }




   }
   window.customElements.define(RealizarTransferencia.is, RealizarTransferencia);
 </script>
</dom-module>
