<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientos-usuario">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       padding: 100px 0;
       padding-top: 10px;
     }
     .container h5{
       font-family: Tahoma;
       color: black;
     }
     .container .table .thead-dark th{
       background:  #0672ca !important
     }
     .container .table-bordered th{
       background: white
     }
     .container .table-bordered td{
       background: white
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->

     <div hidden$="{{isvar5}}" class="container">
       <h5 class="col-md-5">Titular: {{first_name}} {{last_name}}</h5>
       <h5 class="col-md-5">Cuenta: {{iban}}</h5>
       <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th>Saldo Contable</th>
                                <th>Ultimos movimientos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template is="dom-repeat" items={{listMovements}} as="val">
                                <tr width="100">
                                    <td style="vertical-align: middle;">S/ {{val.saldo}}</td>
                                    <td style="padding: unset;">
                                      <table class="table table-striped table-bordered table-hover" style="margin: unset;"><tbody>
                                      <template is="dom-repeat" items="{{val.movimientos}}" as="itemsMov">
                                        <tr>
                                           <td style="width: 5%;">{{itemsMov.movID}}</td>
                                           <td style="width: 20%;">{{itemsMov.date}}</td>
                                           <td style="width: 45%;">{{itemsMov.descripcion}}</td>
                                           <td style="width: 20%;">{{itemsMov.import}}</td>
                                           <td style="width: 10%;">{{itemsMov.Type}}</td>
                                         </tr>
                                      </template>
                                    </tbody>
                                  </table>
                                   </td>
                                </tr>
                              </template>
                        </tbody>
                    </table>
                    <button class="btn btn-outline-success my-2 my-sm-0" on-click="panelagregarMov">Agregar Mov.</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" on-click="panelTransferir">Realizar Transferencia</button>
   </div>
   <iron-ajax
     id="getUser"
     url="http://localhost:3000/api-peru/v1/usersMLAB/{{idr}}"
     handle-as="json"
     on-response="showData"></iron-ajax>
    <iron-ajax
       id="getUserMovement"
       url="http://localhost:3000/api-peru/v1/usersMLAB/account/{{idcue}}/movement"
       handle-as="json"
       on-response="showmovement"></iron-ajax>

 </template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class MovimientosUsuario extends Polymer.Element {
     static get is() { return 'movimientos-usuario'; }
     static get properties() {
       return {
         isvar5:{
           type:Boolean,
           value:true
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         listMovements: {
           type: Array
         },
         idr:{
           type:String,
         },
         idcue:{
           type:String,
         },
         iban:{
           type:String,
         },
       };
     }
     showData(data){
        //console.log(data);
        console.log("Recibidos datos del movimientos usuarios:");
  // mLab nos devuelve un array con el objeto solicitado por eso [0]
        console.log(data.detail.response);
        console.log(data.detail.response.id);
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);

        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;

      }
      showmovement(data){
         //console.log(data);
         console.log("Recibidos datos del usuarios:");
   // mLab nos devuelve un array con el objeto solicitado por eso [0]
         console.log(data.detail.response);
         this.listMovements = data.detail.response;
       }
       mostrarDatosRecibidosmovimientos(data){
        //this.idcue=data.idcue;
        this.isvar5=data.isvar5;
        this.idr=data.idr;
        console.log("Receptor movimientos"+ data.idcue_ban);
        if(data.idcue_ban!=null){
          var arrayDeCadenas = data.idcue_ban.split("_");
          this.idcue=arrayDeCadenas[0];
          this.iban=arrayDeCadenas[1];
        }
        if(!this.isvar5){
          this.$.getUser.generateRequest();
          this.$.getUserMovement.generateRequest();
        }

       }
       panelagregarMov(){
         this.isvar1=true;
         this.isvar2=true;
         this.isvar5=true;
         this.isvar4=true;
         this.isvar7=true;
         this.isvar6=true;
         this.isvar9=true;
         this.isvar3=true;
         this.isvar30=false;
         this.isvar31=true;
         this.isvar32=true;
         this.dispatchEvent(new CustomEvent('panelagregarMov', {detail:{idcue:this.idcue,email:this.email,idusu:this.idusu,isvar31:this.isvar31,isvar30:this.isvar30,isvar32:this.isvar32,isvar1:this.isvar1,isvar2:this.isvar2,isvar5:this.isvar5,isvar3:this.isvar3,isvar4:this.isvar4,isvar6:this.isvar6,isvar7:this.isvar7,isvar6:this.isvar6,isvar9:this.isvar9}}))
      }
      panelTransferir(){
        this.isvar1=true;
        this.isvar2=true;
        this.isvar5=true;
        this.isvar4=true;
        this.isvar7=true;
        this.isvar6=true;
        this.isvar9=true;
        this.isvar3=true;
        this.isvar30=true;
        this.isvar31=true;
        this.isvar32=false;
        this.isvar33=true;
        this.dispatchEvent(new CustomEvent('panelrealizarTransf', {detail:{idcue:this.idcue,email:this.email,idusu:this.idr,isvar32:this.isvar32,isvar33:this.isvar33,isvar31:this.isvar31,isvar30:this.isvar30,isvar1:this.isvar1,isvar2:this.isvar2,isvar5:this.isvar5,isvar3:this.isvar3,isvar4:this.isvar4,isvar6:this.isvar6,isvar7:this.isvar7,isvar6:this.isvar6,isvar9:this.isvar9}}))
      }

   }
   window.customElements.define(MovimientosUsuario.is, MovimientosUsuario);
 </script>
</dom-module>
